@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primereact/resources/themes/lara-light-indigo/theme.css"; /* Tema */
@import "primereact/resources/primereact.min.css"; /* Estilos base */
@import "primeicons/primeicons.css"; /* Íconos */
@import "primeflex/primeflex.css"; /* Clases utilitarias opcionales */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
